<div style="background-color: #1f407a; height:50px">&nbsp;</div>
<div class="headerDiv">
    <div class="dropDownMenu">
            <ng-container *ngIf="(!isProdEnvironment && isCurrentUserLoggedIn) ||
                             (isProdEnvironment && isCurrentVoterRegistered)">

                <mat-menu #appMenu="matMenu" class="smartPhoneMenu">

                <a [class.selected]="router.url === '/home' || router.url === '/votings'"
                   [class.notSelected]="router.url !== '/home' && router.url !== '/votings'"
                   routerLink="/home" routerLinkActive="active">
                    <div class="dropMenuLink">
                        Vote
                    </div>
                </a>
                <br>
                <a *ngIf="isCurrentUserTrustee"
                    [class.selected]="router.url === '/trustee'"
                    [class.notSelected]="router.url !== '/trustee'"
                    routerLink="/trustee" routerLinkActive="active">
                    <div class="dropMenuLink">
                        Manage votings
                    </div>
                </a>
                <br>
                <a *ngIf="isCurrentUserVotingAdministrator"
                       [class.selected]="router.url === '/manageVotings'"
                       [class.notSelected]="router.url !== '/manageVotings'"
                       routerLink="/manageVotings" routerLinkActive="active">
                    <div class="dropMenuLink">
                         My created votings
                    </div>
                </a>
                <br>
                <a *ngIf="isCurrentUserAdmin || isCurrentUserRegistrar"
                   [class.selected]="router.url === '/roles'"
                   [class.notSelected]="router.url !== '/roles'"
                   routerLink="/roles" routerLinkActive="active">
                    <div class="dropMenuLink">
                        Manage voters
                    </div>
                </a>
                <br>
                <!--<a
                        [class.selected]="router.url === '/keys'"
                        [class.notSelected]="router.url !== '/keys'"
                        routerLink="/keys" routerLinkActive="active">
                    <div class="dropMenuLink">
                        Add keys
                    </div>
                </a>-->
                </mat-menu>

                <ng-container *ngIf="isCurrentUserAdmin || isCurrentUserVotingAdministrator || isCurrentUserRegistrar">
                    <button mat-icon-button [matMenuTriggerFor]="appMenu">
                        <mat-icon class="white-icon">menu</mat-icon>
                    </button>
                </ng-container>
            </ng-container>
    </div>
    <div class="headerMenu">
        <ng-container *ngIf="(!isProdEnvironment && isCurrentUserLoggedIn) ||
                             (isProdEnvironment && isCurrentVoterRegistered)">
            <ng-container *ngIf="isCurrentUserTrustee || isCurrentUserAdmin || isCurrentUserVotingAdministrator || isCurrentUserRegistrar">
                <a [class.selected]="router.url === '/home'"
                   [class.notSelected]="router.url !== '/home'"
                   routerLink="/home" routerLinkActive="active">
                    <div>
                        Vote <br>(Voters only)
                    </div>
                </a>
            </ng-container>
            <a *ngIf="isCurrentUserTrustee"
               [class.selected]="router.url === '/trustee'"
               [class.notSelected]="router.url !== '/trustee'"
               routerLink="/trustee" routerLinkActive="active">
                <div>
                    Manage votings <br>(Trustees only)
                </div>
            </a>
            <a *ngIf="isCurrentUserVotingAdministrator"
               [class.selected]="router.url === '/manageVotings'"
               [class.notSelected]="router.url !== '/manageVotings'"
               routerLink="/manageVotings" routerLinkActive="active">
                <div>
                    My created votings <br>(Voting administrators only)
                </div>
            </a>
            <a *ngIf="isCurrentUserAdmin || isCurrentUserRegistrar"
               [class.selected]="router.url === '/roles'"
               [class.notSelected]="router.url !== '/roles'"
               routerLink="/roles" routerLinkActive="active">
                <div>
                    Manage voters
                    <ng-container *ngIf="isCurrentUserRegistrar && isCurrentUserAdmin">
                        <br>(Registrars & Administrators only)
                    </ng-container>
                    <ng-container *ngIf="isCurrentUserRegistrar && !isCurrentUserAdmin">
                        <br>(Registrars only)
                    </ng-container>
                    <ng-container *ngIf="!isCurrentUserRegistrar && isCurrentUserAdmin">
                        <br>(Administrators only)
                    </ng-container>
                </div>
            </a>
            <!--<a
               [class.selected]="router.url === '/keys'"
               [class.notSelected]="router.url !== '/keys'"
               routerLink="/keys" routerLinkActive="active">
                <div>
                    Add keys
                </div>
            </a>-->
        </ng-container>
        </div>
</div>

<ng-container *ngIf="(isCurrentUserLoggedIn && !isProdEnvironment) || (currentVoterName === 'admin' && isProdEnvironment)">
    <mat-icon class="white-icon" style="margin-top: 5px; position: fixed; top: 9px; right: 40px" (click)="onLogoutClicked()">power_settings_new</mat-icon>
</ng-container>

<ng-container *ngIf="isCurrentUserLoggedIn">
    <mat-icon class="white-icon" style="margin-top: 5px; position: fixed; top: 9px; right: 10px" (click)="onLoginClicked()">account_circle</mat-icon>
</ng-container>

<div class="arrowBox" *ngIf="infoFormVisible">
    &nbsp;
</div>
<div class="infoBox" *ngIf="infoFormVisible">
    <div style="padding-left: 10px">
        Logged in as:<br>
        <b>{{currentVoterName}}</b><br><br>
        You have the following roles:<br><br>
        <ng-container>
            <b>- Voter</b><br>
            You can vote.<br><br>
        </ng-container>
        <ng-container *ngIf="isCurrentUserRegistrar">
            <b>- Registrar</b><br>
            You can add new voters.<br><br>
        </ng-container>
        <ng-container *ngIf="isCurrentUserVotingAdministrator">
            <b>- Voting administrator</b><br>
            You can create new votings.<br><br>
        </ng-container>
        <ng-container *ngIf="isCurrentUserAdmin">
            <b>- Administrator</b><br>
            You can modify the roles of all the voters and delete voters.
        </ng-container>
    </div>

</div>

