<div class="easyVote">
  <h1 *ngIf="votingIdToDisplay === undefined">{{title}}</h1>
  <div style="padding-left: 24px" *ngIf="displayedVotings.length === 0">
    {{noVotingsMessage}}
    <br>
  </div>
    <ng-container *ngFor="let voting of displayedVotings; let i = index">
      <div *ngIf="isInTrusteeTab">
        {{voting.getTitle()}}
      </div>
      <mat-expansion-panel [expanded]="true" class="votingsPanel" *ngIf="!isInTrusteeTab">
        <mat-expansion-panel-header>
          <div style="padding: 0">
            <h3>{{voting.getTitle()}}</h3>
          </div>
        </mat-expansion-panel-header>
        {{voting.getDescription()}}
        <br><br>
        <ng-container *ngIf="!statusMap[voting.getId()].getVoted()">
              <span class="optionDiv">
                <mat-form-field>
                  <mat-select placeholder="Please choose" [(ngModel)]="selectedVotingOption[i]">
                    <mat-option *ngFor="let option of voting.getOptions()" [value]="option.getOptionPrimeNumber()">
                      {{option.getOptionName()}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
          <span class="optionDiv">
                <button mat-button [disabled]="selectedVotingOption[i] === undefined" (click)="submit(voting.getId(),i)">Submit vote</button>
              </span>
        </ng-container>
        <ng-container *ngIf="statusMap[voting.getId()].getVoted()">
          You already voted
        </ng-container>
      </mat-expansion-panel>
      <!--<mat-divider [inset]="true" *ngIf="i !== displayedVotings.length - 1"></mat-divider>-->
    </ng-container>
  </div>

<div *ngIf="showSpinner" style="position: absolute; left: 0px; top: 0px; width: 100vw; height: 100vh; background-color: black; opacity: 0.9; position: fixed; z-index: 200">
</div>
<div *ngIf="showSpinner" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; margin: auto; height: 100px; width: 200px; text-align: center; color: white; position: fixed; z-index: 201">
  <p>{{spinnerDescription}}</p>
  <br>
  <mat-spinner style="margin: auto">
  </mat-spinner>
</div>
