
    <mat-horizontal-stepper [linear]=true (selectionChange)="updateMaxSecurityThreshold()" #stepper>
        <mat-step [stepControl]="votingsDataStep">
            <form [formGroup]="votingsDataStep">
                <ng-template matStepLabel>Voting <br>description</ng-template>
                <mat-form-field class="title">
                    <input type="text" matInput formControlName="votingTitle" placeholder="Title of voting" value="">
                    <mat-error>
                        Voting Title cannot be empty
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="description">
                    <textarea matInput formControlName="votingDescription" placeholder="Description of voting" value=""> </textarea>
                    <mat-error>
                        Voting Description cannot be empty
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <div formArrayName="votingOptions" class="optionList" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" >
                    <div class="optionBox" *ngFor="let optionName of getOptionsFormArray().controls; let i = index" cdkDrag>
                        <button type="submit" mat-icon-button class="deleteOptionButton" (click)="deleteOption(i)">
                            <mat-icon class="red-icon">highlight_off</mat-icon>
                        </button>
                        <mat-form-field class="option">
                            <input matInput class="optionInput" placeholder="Voting Option" formControlName="{{i}}" type="text" value={{optionName.value}} autocomplete="off">
                            <mat-error *ngIf="optionName.value === ''">
                                Name cannot be empty
                            </mat-error>
                            <mat-error *ngIf="optionName.hasError('duplicateOption') && optionName.value !== ''" >
                                Duplicate option names
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <button class="addOptionButton" mat-icon-button type="button" (click)="addOption()">
                        <mat-icon class="blue-icon">add_circle_outline</mat-icon>
                    </button>
                </div>
                <button mat-button matStepperNext style="width: 100%">Next</button>
            </form>
        </mat-step>
        <mat-step completed="false">
            <ng-template matStepLabel>Trustees</ng-template>
            <app-specify-voters #trustees [mode]="'trustees'" class="specifyVoter"></app-specify-voters>
            <button mat-button (click)="goBack(stepper)" style="width: 50%">Previous</button>
            <button mat-button (click)="goForward(stepper,1)" style="width: 50%">Next</button>
        </mat-step>
        <mat-step completed="false">
            <ng-template matStepLabel>Eligible <br>voters</ng-template>
            <app-specify-voters #voters [mode]="'voters'" class="specifyVoter"></app-specify-voters>
            <button mat-button (click)="goBack(stepper)" style="width: 50%">Previous</button>
            <button mat-button (click)="goForward(stepper,2)" style="width: 50%">Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
                <h1>Trustees</h1>
                <div style="display: flex; flex-direction: column; justify-content: space-between; flex-wrap: wrap;">
                    <ng-container *ngFor="let voter of allVoters">
                        <span *ngIf="voter.getCanBeTrustee()" style="display: inline-block; width: 200px;">
                            {{voter.getName()}}
                        </span>
                    </ng-container>
                </div>
                <h1>Voters</h1>
                <div style="display: flex; flex-direction: column; justify-content: space-between; flex-wrap: wrap;">
                    <ng-container *ngFor="let voter of allVoters">
                        <span *ngIf="voter.getCanParticipate()" style="display: inline-block; width: 200px;">
                            {{voter.getName()}}
                        </span>
                    </ng-container>
                </div>
                <h1>Security threshold</h1>
                {{selectedSecurityThreshold}}<br><br>
            <div class="checkBoxes">
                <div style="width: 50%; display: inline-block">
                    <mat-checkbox [(ngModel)]="trusteesCanSpecifyKeys">Let trustees specify custom keys</mat-checkbox>
                </div>
                <div style="width: 50%; display: inline-block">
                    <mat-checkbox [(ngModel)]="trusteesGetNotified">Notify trustees</mat-checkbox><br>
                </div>
            </div>
            <br><br>
            <button mat-button matStepperPrevious style="width: 50%">Previous</button>
            <button mat-button style="width: 50%" (click)="onSubmit()" >Submit</button>
        </mat-step>
    </mat-horizontal-stepper>
