<ng-container *ngIf="mode === 'trustees'">
  <h2>Select your trustees</h2>
</ng-container>
<ng-container *ngIf="mode === 'voters'">
  <h2>Select your voters</h2>
</ng-container>
<div style="height: 430px; overflow: auto">
  <div class="specifyVoterDiv">
    <div style="flex: 1; overflow: hidden; height: 300px">
      <as-split [direction]="'horizontal'" style="overflow: hidden;">
        <as-split-area size="50">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" class="specifyVoterClass">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Voter Name Column -->
            <ng-container matColumnDef="Voter Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameColumnClass">
                Voter name
              </th>
              <td mat-cell *matCellDef="let element, let i = index" class="nameColumnClass" id="{{element.getName()}}">
                {{element.getName()}}
              </td>
              <td mat-footer-cell *matFooterCellDef class="nameColumnClass" style="border-top: 1px solid black">
                <mat-form-field>
                  <input matInput (keyup)="onFilter($event)" placeholder="Filter">
                </mat-form-field>
                <span style="position: absolute; right: 10px; top:22px">
                  All
                </span>
                <br>&nbsp;
            </ng-container>

            <!-- Tickbox Column -->
            <ng-container matColumnDef="Tickbox">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="tickBoxClass">
                <ng-container *ngIf="mode == 'trustees'">
                  Is trustee
                </ng-container>
                <ng-container *ngIf="mode == 'voters'">
                  Allowed to <br> participate
                </ng-container>
              </th>
              <td mat-cell *matCellDef="let element" class="canParticipateClass">
                <mat-slide-toggle
                        [checked]="(element.getCanBeTrustee() && this.mode === 'trustees') ||
                                   (element.getCanParticipate() && this.mode === 'voters')"
                        (change)="onTickBoxChange($event, element.getTablePosition())"></mat-slide-toggle>
              </td>
              <td mat-footer-cell *matFooterCellDef class="canParticipateClass" style="border-top: 1px solid black; width: 20px;">
                <mat-slide-toggle
                        style="position: absolute; top: 20px; right:25px"
                        [checked]="allVotersToggleChecked"
                        (change)="onToggleAll($event)"></mat-slide-toggle></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </as-split-area>
        <as-split-area size="50">
          <ngx-codemirror
                  #editor
                  [(ngModel)]="content"
                  [ngModelOptions]="{standalone: true}"
                  [options]="{
            lineNumbers: true,
            theme: 'material codemirror',
            mode: 'markdown',
            gutters: ['breakpoints']
          }"
          ></ngx-codemirror>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>
<ng-container *ngIf="mode === 'trustees'">
  <h4>Security threshold (max {{numberOfTrustees}})</h4>
  <mat-slider (input)="onThresholdInputChange($event)" min="0" max="{{numberOfTrustees}}" step="1" value="{{selectedSecurityThreshold}}" color="primary" style="width: 100%"></mat-slider>
  <p>{{selectedSecurityThreshold}}</p>
  <br>
</ng-container>
<!--<br>
              <ng-container *ngIf="mode === 'trustees'">
                Number of trustees:
              </ng-container>
              <ng-container *ngIf="mode === 'voters'">
                Number of voters:
              </ng-container>-->