.angular-with-newlines {
    white-space: pre;
}

pre {
    text-align: left;
    font-family: monospace !important;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

