.green-icon {
    color: green;
    cursor: pointer;
}

/deep/ .expanded-text {
    color: white !important;
    background-color: rgba(42, 42, 42, 0.9) !important;
    white-space: pre-line !important;
    border: 1px solid black !important;
}

.title-column {
    text-align: left;
}

.description-column {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}

.keyDerivationComponentDiv button {
    padding: 0px;
}

@media screen and (min-width: 800px) {
    .mat-table {
        width: 800px;
        margin: 0px auto;
    }

    .title-column {
        width: 150px;
        padding-left: 25px;
    }

    .description-column {
        width: 480px;
        padding: 0px;
    }

    .description-wrapper {
        display: inline-block;
        width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .generate-key-column {
        width: 120px;
        padding-right: 25px;
        text-align: right;
    }

    .smartPhoneView {
        display: none;
    }

}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .mat-table {
        width: 100%;
        table-layout: fixed;
    }

    .title-column {
        width: 150px;
        padding-left: 25px;
    }

    .description-column {
        width: auto;
        padding-right: 20px;
    }

    .description-wrapper {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .generate-key-column {
        width: 120px;
        padding-right: 25px;
        text-align: right;
    }

    .smartPhoneView {
        display: none;
    }

    .keyDerivationComponentDiv {
        text-align: left;
    }

    .keyDerivationComponentDiv h1 {
        padding-left: 24px;
    }


}

@media screen and (max-width: 500px) {
    .mat-table {
        width: 100%;
        table-layout: fixed;
    }

    .title-column {
        width: auto;
        padding-left: 25px;
    }

    .description-column {
        width: 0px;
        visibility: hidden;
    }

    .generate-key-column {
        width: 120px;
        padding-right: 25px;
        text-align: right;
    }

    .moreInformation {
        font-size: 15px;
        width: 15px;
        height: 15px;
        color: #1f407a;
        cursor: pointer;
    }

    .smartPhoneView {
        cursor: pointer;
    }

    .standardView {
        display: none;
    }

    .keyDerivationComponentDiv {
        text-align: left;
    }

    .keyDerivationComponentDiv h1 {
        padding-left: 24px;
    }

}