<h1>Welcome to ETHVote</h1>
<img src="assets/images/logo.png">
<br>
<div class="loginBody">
ETH-voting is a tool that enables its users to do distributed online voting. It is part of a master thesis of the distributed computing group (DISCO) of ETH Zurich.
<br>
</div>
<br>
<div *ngIf="!isLoggedIn">
    <b>To login in please use the login icon on the top right border.</b>
</div>

<div *ngIf="isLoggedIn && !isRegistered" class="loginBody">
    You are currently logged in as <b>{{voterName}}</b>. <br>
    Unfortunately you are not registered yet in the voting application.<br><br>
    <button mat-button (click)="register()">Register</button>
</div>

<div *ngIf="isLoggedIn && isRegistered" class="loginBody">
    Hi <b>{{voterName}}</b>. How about some democracy today?
</div>

<div *ngIf="environmentName !== 'prod'" style="color: red" class="loginBody">
    <br>
    <br>
    This is a demo environment. As a start point you can login with with username "admin" and password "admin" and then add voters.
    <br>
    <br>
    As this is a demo environment, you can the login as the created voter with the voter name and an arbitrary password.
</div>
