<p>
  Creating voters failed as some already exist.<br>
  Already existing voters:<br>
</p>

<p *ngFor="let alreadyExistingVoter of alreadyExistingVoters.getVoters()">
  {{alreadyExistingVoter.getName()}}
</p>
<button (click)="deleteExistingVotersFromList()" mat-button>Delete existing Voters from List</button>
