<div class="rolesDiv">
<table mat-table [dataSource]="dataSource" style="margin: 0 auto">

  <!-- Position Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell class="left" *matHeaderCellDef>
      <span>
        Citizen name
      </span>
      <span *ngIf="!isCurrentUserAdmin && isCurrentUserRegistrar" style="">
        <mat-icon style="margin-top: 5px; cursor: pointer; right: 5px; display: inline; position: absolute; top: 10px;" (click)="addVoter()">group_add</mat-icon>
      </span>
    </th>
    <td mat-cell class="left" *matCellDef="let element"> {{element.getName()}}</td>
    <td mat-footer-cell *matFooterCellDef colspan="5">
      <div *ngIf="isCurrentUserAdmin">
        <button (click)="save()" type="button" [disabled]="!userDidModification" mat-button>Save changes</button>
        <button (click)="reset()" type="button" [disabled]="!userDidModification" mat-button>Reset changes</button>
      </div>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Voting_Administrator">
    <th mat-header-cell class="center" *matHeaderCellDef> Voting<br>Admin </th>
    <td mat-cell class="center" *matCellDef="let element; let i = index">
      <mat-slide-toggle
              (change)="onChangeVotingAdminRole(i, $event.checked)"
              [checked]="element.isVotingAdministrator()"></mat-slide-toggle>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Registrar">
    <th mat-header-cell class="center" *matHeaderCellDef> Registrar </th>
    <td mat-cell class="center" *matCellDef="let element; let i = index">
      <mat-slide-toggle
              (change)="onChangeRegistrarRole(i, $event.checked)"
              [checked]="element.isRegistrar()"></mat-slide-toggle>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Administrator">
    <th mat-header-cell class="center" *matHeaderCellDef>Admin</th>
    <td mat-cell class="center" *matCellDef="let element; let i = index">
      <mat-slide-toggle
              (change)="onChangeAdminRole(i, $event.checked)"
              [checked]="element.isAdministrator()"></mat-slide-toggle>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell class="center" *matHeaderCellDef>
      <mat-icon *ngIf="isCurrentUserAdmin" style="margin-top: 5px; cursor: pointer" (click)="addVoter()">group_add</mat-icon></th>
    <td mat-cell class="center" *matCellDef="let element">
      <mat-icon class="red-icon" (click)="deleteVoter(element.getId())">delete</mat-icon>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <ng-container *ngIf="isCurrentUserAdmin">
    <tr mat-footer-row *matFooterRowDef="['Name']; sticky: true"></tr>
  </ng-container>
</table>
</div>

