/* You can add global styles to this file, and also import other style files */

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.green-snackbar {
    background: #8fff8f;
    color: green;
    font-size: medium;
    text-align: left;
    border: 1px solid green;
    position: absolute;
    top: 10px;
    right: 10px;
}

.red-snackbar {
    background: #ff8f8f;
    color: red;
    font-size: medium;
    text-align: left;
    border: 1px solid red;
    position: absolute;
    top: 10px;
    right: 10px;
}

.mat-snack-bar-container {
    max-width: 100px !important;
}

.noPaddingDialog .mat-dialog-container {
    padding: 0;
}
