<ng-container *ngIf="leftTime > 0">
Voting closes in <br>
{{days}} days {{('0'+hours).slice(-2)}} hours {{('0'+minutes).slice(-2)}} minutes {{('0'+seconds).slice(-2)}} seconds
</ng-container>
<ng-container *ngIf="leftTime <= 0">
  Voting is closed
</ng-container>
